<section class="product__container">
    <div class="product-image__container">
        <img [src]="produto?.imagem" alt="">
    </div>
    <div class="product-description__container">
        <h2 class="product__name">{{ produto?.descricao }}</h2>        
        <p>Estoque disponível:</p>
        <label for="">
            Quantidade:
            <input type="number" [(ngModel)]="quantidade" min="1">
            unidade(s)
        </label>
        <p class="product__avaiability">
            {{ produto?.quantidadeEstoque }} unidades(s) em estoque
        </p>
<!--        <button (click)="adicionarAoCarrinho()">Adicionar ao carrinho</button>-->
    </div>
    <div >
        <agm-map 

        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false">
      
        <agm-marker *ngFor="let produtoCliente of produtosClientes"            
            [latitude]="produtoCliente?.lat" 
            [longitude]="produtoCliente?.log">
            
          <agm-info-window [isOpen]="true" >
            <strong>R$ {{ produtoCliente?.preco }}</strong>
          </agm-info-window>
          
        </agm-marker>
        
          
      </agm-map>   
    </div>
</section>
