.main-header {    
    padding: 10px 0px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: 50px;
    margin-top: 1px%;
}

.main-header__logo {
    max-width: 400px; /* Largura máxima do logo */
    max-height: 70px; /* Altura máxima do logo */
    width: auto; /* Mantém a proporção do logo */
    height: auto; /* Mantém a proporção do logo */
}

.main-header__menu {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-right: 0;
}

.main-header__menu ul {
    display: flex;
    justify-content: flex-end;
    margin-left: 0;
}

.main-header__menu a {
    padding: 10px 10px;
    color: var(--gray);
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    /* background-color: ##34c8ff;*/
}

.main-header__menu a:hover {
    background-color: var(--blue);
    color: #fff;
}

.container-menu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 1;
    /*background-color: #01baff;*/
}

.badge-carrinho {
    background-color: var(--dark-blue);
    padding: 5px 10px;    
    border-radius: 4px;
    color: white;
}

.search-location-container {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Adjust spacing as needed */
}

#userLocation {
  font-size: 16px;
  color: #fff; /* Or desired color */
}