<section class="product-list">
    <div class="product-list__card" *ngFor="let produto of produtos">
        <a routerLink="/produtos/{{ produto.id }}" class="product-list__link">
            <img [src]="produto.imagem">
            <h2 class="product-item__name">
                {{ produto.descricao }}
            </h2>
            <p class="product-item__price-description">
                {{ produto.descricaoPreco }}
            </p>
       
        </a>  
    </div>
    <div >
        <agm-map 

        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false">
      
        <agm-marker *ngFor="let produtoCliente of produtosClientes"            
            [latitude]="produtoCliente?.lat" 
            [longitude]="produtoCliente?.log">
            
          <agm-info-window [isOpen]="true" >
            <strong>R$ {{ produtoCliente?.preco }}</strong>
          </agm-info-window>
          
        </agm-marker>
        
          
      </agm-map>   
    </div>
 
</section>
